<!DOCTYPE html>
<html>
  <head>
    <title>Thomas Astruc</title>

<!-- Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- Top Navigator -->
		<script src="https://www.w3schools.com/lib/w3data.js"></script>
		
		<!-- My CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='creator/css/creator.css') }}">
		
	</head>

	<body style="background-color: #EAF2F8">
    
		<!-- Top Navigator -->
		<div w3-include-html="{{ url_for('static', filename='../globalComponent/topNavigator.html') }}"></div>
		<script>
			w3IncludeHTML();
		</script>

    <table style="background-color: white; margin-top: 30px; margin-left: 20px;" width=30% align="left">
      <tr>
        <th>Thomas Astruc</th>
      </tr>
      <td><img src = "{{ url_for('static', filename='creator/image/thomasastruc.png') }}" alt = "alt" height=200 width=200 align="center"/></td>
      <tr>
        <td>Birthdate: January 18, 1975<br><a href="{{ url_for('static', filename='../countryOfOrigin/france.html') }}">France</a></td>
      </tr>
    </table>

    <table style="background-color: white; margin-top: 30px; margin-right: 20px" align="right" width=65%>
      <tr>
        <th colspan="2">Series</th>
      </tr>
      <tr>
        <td width=20%><img src="{{ url_for('static', filename='creator/image/miraculouslogo.jpg') }} " alt="alt" height=100 width=100 align="center" /></td>
        <td><a href="{{ url_for('static', filename='../cartoon/Miraculous.html') }}">Miraculous: Tales of Ladybug & Cat Noir</a></td>
      </tr>
    </table>

    <table style="background-color: white; margin-top: 18px; margin-right: 20px;" align="right" width=65%>
      <tr>
        <th colspan="2">Bio</th>
      </tr>
      <tr>
        <td style="text-align: left;">Thomas Astruc was born in 1975 in Paris, France. He is known for his work on Asterix and Obelix Meet Cleopatra (2002), Miraculous: Tales of Ladybug & Cat Noir (2015) and Wasabi (2001).<a href="http://www.imdb.com/name/nm1404660/?ref_=fn_al_nm_1"> >> visit full IMDb webpage</a></td>
      </tr>
    </table>
  </body>
</html>