<!DOCTYPE html>
<html>
  <head>
    <title>Oleg Kuzovkov</title>

		<!-- Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- Top Navigator -->
		<script src="https://www.w3schools.com/lib/w3data.js"></script>
		
		<!-- My CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='creator/css/creator.css') }}">
		
	</head>

	<body style="background-color: #EAF2F8">
    
		<!-- Top Navigator -->
		<div w3-include-html="{{ url_for('static', filename='../globalComponent/topNavigator.html') }}"></div>
		<script>
			w3IncludeHTML();
		</script>

    <table style="background-color: white; margin-top: 30px; margin-left: 20px;" width=30% align="left">
      <tr>
        <th>Oleg Kuzovkov</th>
      </tr>
      <td><img src="{{ url_for('static', filename='creator/image/olegkuzovkov.jpg') }}" alt="alt" height=200 width=200 align="center" /></td>
      <tr>
        <td>Birthdate: October 22, 1960<br><a href="{{ url_for('static', filename='../countryOfOrigin/russia.html') }}">Russia</a></td>
      </tr>
    </table>

    <table style="background-color: white; margin-top: 30px; margin-right: 20px" align="right" width=65%>
      <tr>
        <th colspan="2">Series</th>
      </tr>
      <tr>
        <td width=20%><img src="{{ url_for('static', filename='creator/image/masha.png') }}" alt="alt" height=100 width=100 align="center" /></td>
        <td><a href="{{ url_for('static', filename='../cartoon/Masha.html') }}">Masha and the Bear</a></td>
      </tr>
    </table>

    <table style="background-color: white; margin-top: 18px; margin-right: 20px;" align="right" width=65%>
      <tr>
        <th colspan="2">Bio</th>
      </tr>
      <tr>
        <td style="text-align: left;">Oleg Kuzokov was born in 1960 in Sredneuralsk, Russia. He is a screenwriter, best known for Masha and the Bear (2009).<a href="http://www.imdb.com/name/nm1001247/?ref_=nv_sr_1"> >> visit full IMDb webpage</a></td>
      </tr>
    </table>
  </body>
</html>