body{
  background-color: #fffadb;
  margin: auto;
  text-align: center;
  color: black;
  font-family: arial, sans-serif;
  padding: 5px
  padding-bottom: 50px;
}

#header{
	text-align: center;
}

table{
  border-collapse: collapse;
  margin:auto;
}

table, td, th {
  border: 1px solid black;
  padding: 50px;
}

a{
  color: black;
}