<html>
  <head>
    <title>The Simpsons</title>


    <!-- Bootstrap -->
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    		<!-- Latest compiled and minified CSS -->
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    		<!-- Optional theme -->
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    		<!-- Latest compiled and minified JavaScript -->
    		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


      <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <style type="text/css">
    body {
      background-color: #EAF2F8;
    }
    #title1 {background-color: #8E94D6;}
    img {width: 650px; height: 370px;
          border-radius: 10px;
          margin: auto;
    table {background-color: #F2F2F2;
      border: 5px solid #8E94D6;}
    border-collapse: collapse;}
    th {border: 1px solid black;}
    th, td{padding: 15px;}
    </style>
  </head>

  <body>
    <!-- Top Navigator -->
		<div w3-include-html="http://cs329e-cartoons.me/splash/topNavigator.html"></div>
		<script>
			w3IncludeHTML();
		</script>
    <h1>The Simpsons</h1>
    <center>
      <font size="5">Slideshow:</font>
    <img class="mySlides" src="TheSimpsons.png">
    <img class="mySlides" src="thesimpsons2.jpeg">
    <img class="mySlides" src="thesimpsons3.jpg">
    <img class="mySlides" src="TheSimpsonsLogo.png">
  </br>
  <center>
  <button class="btn" onclick="plusDivs(-1)">Previous Image</button>
<button class="btn" onclick="plusDivs(+1)">Next Image</button></center>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
}
</script>
</br>
<h3> The longtime series focuses on the dysfunctional Simpsons family living in the fictional town of Springfield. </h3>
</br>

    <table width="600px">
      <tr>
        <th COLSPAN="2" id="title1">
          <h2> Basic Facts </h2>
        </th>
      </tr>
      <tr>
        <th>Genre</th>
        <th>Animated Sitcom</th>
      </tr>
      <tr>
        <th>Country of Origin</th>
        <th><a href="http://cs329e-cartoons.me/CountryOfOrigin/usa.html">United States</a></th>
      </tr>
      <tr>
        <th>Main Characters and Voice Actor</th>
        <th>Dan Castellaneta as Homer Simpson
        </br> Julie Kavner as Marge Simpson
      </br> Nancy Cartwright as Bart Simpson
    </br> Yeardley Smith as Lisa Simpson
  </br> Various voices as Maggie Simpson </th>
      </tr>
      <tr>
        <th>Creator</th>
        <th><a href="http://cs329e-cartoons.me/Creators/creator1.html">Matt Groening</a></th>
      </tr>
      <tr><th>Developed by</th>
        <th>James L. Brooks
        </br>Matt Groening
      </br> Sam Simon</th></tr>
      <tr>
        <th>Production Company</th>
        <th>Fox Television Animation
        </br>Gracie Films</th>
      </tr>
      <tr><th>Number of Seasons</th>
        <th>28</th></tr>
        <tr><th>Number of Episodes</th>
          <th>614</th></tr>
          <tr><th COLSPAN = "2"><a href="http://www.simpsonsworld.com/">The Simpsons Official website</a>
    </table>
  </br>
  <p>The following is a Youtube clip of The Simpsons Funny moments:</p>
    <<iframe width="560" height="315" src="https://www.youtube.com/embed/1q6Gj9Cft6k" frameborder="0" allowfullscreen></iframe>>
  </center>
</br>
<a href="http://cs329e-cartoons.me/Mains/cname-main.html">Return to main cartoon page</a>
</br>
  </body>

</html>
